.GCStyle-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: #eee;
    padding: 1px 5px 1px 5px;
}

.GCStyle-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #eee;
    background-color: rgb(32, 145, 197, 0.8);
    padding: 1px 5px 1px 5px;
    border-radius: 0.1rem;
}


/* estilos para cg 720*480*/

.GCStyle-3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #eee;
    background-color: #c0392b;
    padding: 0px 5px 1px 5px;
    border-radius: 0.2rem;
}

.GCStyle-4 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #eee;
    background-color: #c0392b;
    padding: 1px 5px 1px 5px;
    border-radius: 0.1rem;
}