#marcoPreview {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

#GCTextPreview {
    position: relative;
    top: 8px;
    inline-size: max-content;
}

html,
body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.moviendoGC {
    animation-name: moviendoGC;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moviendoGC {
    from {
        left: 0px;
    }
    to {
        left: 0px;
    }
}