/*estilos para reloj 1280*720*/


/*
#clockdate {
    position: absolute;
    top: 25.6%;
    right: 7%;
}
.clockdate-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 4px;
    padding: 0px 2px 0px 2px;
}
#clock {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #fff;
}
*/


/* estilos para reloj 720*480*/

#clockdate {
    position: absolute;
    top: 17%;
    right: 6%;
}

.clockdate-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 0.2rem;
    padding: 0px 4px 0px 4px;
}

#clock {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    color: #fff;
}


/*
#clockdate {
    position: absolute;
    top: 17.9%;
    right: 7%;
}
.clockdate-wrapper {

    background: linear-gradient(to right, red, orange, yellow, green, blue);
    background-size: 600% 100%;
    animation: bg-pan-right 3s ease infinite alternate both;

    text-align: center;
    border-radius: 0.1rem;
    padding: 0px 6px 0px 6px;
}
#clock {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    color: #fff;
}


@-webkit-keyframes bg-pan-right {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  @keyframes bg-pan-right {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  */